<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">

  <!-- Page principale -->
  <url>
    <loc>{{APP_URL}}/</loc>
    <lastmod>2026-05-25</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
    <xhtml:link rel="alternate" hreflang="fr"
      href="{{APP_URL}}/"/>
    <xhtml:link rel="alternate" hreflang="en"
      href="{{APP_URL}}/?lang=en"/>
  </url>

  <!-- Pricing -->
  <url>
    <loc>{{APP_URL}}/pricing</loc>
    <lastmod>2026-05-25</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>

  <!-- Signup -->
  <url>
    <loc>{{APP_URL}}/signup</loc>
    <lastmod>2026-05-25</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Login -->
  <url>
    <loc>{{APP_URL}}/login</loc>
    <lastmod>2026-05-25</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>

</urlset>
